body{
background:#0b1623;
color:white;
font-family:sans-serif;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.card{
background:#10223b;
padding:40px;
border-radius:15px;
width:300px;
text-align:center;
}

.bar{
height:10px;
background:#1e3354;
border-radius:10px;
overflow:hidden;
margin-top:20px;
}

.progress{
height:10px;
width:0%;
background:#3fa9ff;
}

button{
margin-top:20px;
padding:10px 20px;
border:none;
border-radius:8px;
background:#3fa9ff;
color:white;
}
